.input {
  display: flex;
  gap: 12px;
  margin: 0 auto;
}
.radio__input {
  display: flex;
  margin-top: 15px;
  gap: 20px;
}
.container {
  display: flex;
  flex-direction: column;
}
.algo__box {
  gap: 12px;
  display: flex;
  padding-top: 80px;
  margin: 0 auto;
  align-items: flex-end;
}
.button {
  margin-left: 50px;
}
.circle {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
}
.circle_small {
  position: absolute;
  left: 12px;
}
.circle_top {
  top: -65px;
}
.circle_botton {
  bottom: -90px;
  left: 11px;
}
